<%= form_for [:admin, @place] do |f| %>
	<div>
		<%= f.label "Широта" %>
		<%= f.text_field :lat, :id => 'lat' %>
	</div>
	<div>	
		<%= f.label "Долгота" %>
		<%= f.text_field :long, :id => 'lag' %>
	</div>
	<div>
		<%= f.label 'Выберите категорию' %>
		<%= f.select :category_id, Category.all.collect {|c|[ c.name, c.id ]} %>
	</div>
	<div>
		<%= f.label 'Утверждена' %>
		<%= f.check_box :enable %>
	</div>
		<%= text_field_tag(:back_url, params[:back_url], :class => 'disabled') %>
		<%= f.submit "Сохранить координаты" %>
<% end %>