<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "lightbox" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="container">
      
      <div id="login">
        <% if user_signed_in? %>
          Signed in as <%= current_user.name %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>

    	<div id="header">
        <h1>Coffee<span style="color:#FFF">Break</span></h1>
      </div>
      
      <div id="body">
      
      	<div id="container_link"><%= render "layouts/navigation" %></div>
          
          <div id="content">
          	
          	<%= yield %>
              
          </div>
          
          <div id="footer"><%= render "layouts/footer"%></div>
          
      </div>
      
  </div>
</body>
</html>
